In [ ]:
## find the top 5 paying jobs in the US that are remote

import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

## read the  date from a csv file into dataframe

file_name = "C:\\Users\\aksha\\data_analysis_job_market\\dataset\\data_jobs.csv"
df = pd.read_csv(file_name)
df.head()

## create another dataframe that only has US jobs

df_US = df[(df['job_country']== 'United States') & (df['job_work_from_home']== True)]
df_US.head()
#df_US_wfh = df_US[df_US['job_work_from_home']== True].copy()
#df_US_wfh.head()

         job_title_short                      job_title job_location           job_via         job_schedule_type  job_work_from_home          search_location      job_posted_date  job_no_degree_mention  job_health_insurance    job_country salary_rate  salary_year_avg  salary_hour_avg                company_name                                         job_skills                                    job_type_skills
5          Data Engineer              GCP Data Engineer     Anywhere  via ZipRecruiter  Contractor and Temp work                True                  Georgia  2023-11-07 14:01:59                  False                 False  United States         NaN              NaN              NaN             smart folks inc                           ['python', 'sql', 'gcp']  {'cloud': ['gcp'], 'programming': ['python', '...
7          Data Engineer                  Data Engineer     Anywhere      via LinkedIn                 Full-time                True                  Romania  2023-12-07 13:40:49                  False                 False        Romania         NaN              NaN              NaN                       Zitec  ['sql', 'nosql', 'gcp', 'azure', 'aws', 'bigqu...  {'cloud': ['gcp', 'azure', 'aws', 'bigquery', ...
9         Data Scientist              Data Scientist II     Anywhere  via ZipRecruiter                 Full-time                True  New York, United States  2023-04-23 13:02:57                  False                 False  United States         NaN              NaN              NaN  Radwell International, LLC  ['sql', 'python', 'r', 'mongodb', 'mongodb', '...  {'analyst_tools': ['excel'], 'cloud': ['azure'...
24        Data Scientist  Data Scientist (DataLab Team)     Anywhere      via LinkedIn                 Full-time                True                   Serbia  2023-06-27 13:46:46                  False                 False         Serbia         NaN              NaN              NaN                     Semrush                                         ['python']                        {'programming': ['python']}
51  Senior Data Engineer           Senior Data Engineer     Anywhere      via LinkedIn                Contractor                True  Illinois, United States  2023-06-21 13:09:39                  False                 False  United States        hour              NaN             72.5            Aditi Consulting   ['python', 'java', 'aws', 'databricks', 'spark']  {'cloud': ['aws', 'databricks'], 'libraries': ...